.ClockAndDate {
    margin-right: auto;
    display: flex;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .ClockAndDate {
        margin-right: unset
    }
}
